.mainDiv {
    background-image: linear-gradient(to right, #00eeff, rgb(224, 218, 218));

    padding: 1em;
    margin: 2em;
}

.loginDiv {
    background-image: linear-gradient(to right, rgb(224, 218, 218), #00eeff);
    margin-top: 2em;
    padding: 3em;
}

.profileGrid:hover {
    transform: scale(1.05);
    transition: transform 0.9s
}

.loginDiv {
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}

.mainDiv {
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 1%;
    margin: 30px auto;
}

.emptyMessage {
    width: 311%;
    color: white;
}

@media screen and (max-width:420px) {
    .loginDiv {
        width: 70%;
        margin-top: 10%;
        margin-left: 15%;
        font-size: 10px;
    }

    .mainDiv {
        width: 70%;
        margin-top: 10%;
        margin-left: 15%;
        font-size: 10px;

    }

    .emptyMessage {
        width: 100%;
        color: white;
    }

}

@media screen and (max-width: 700px) {
    .profiles {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
    }
}

@media screen and (min-width: 700px) {
    .profiles {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-gap: 1%;
        margin: 30px auto;
    }
}